<header id="landing-header" class="header" v-cloak v-if="(active_view == 'login' || active_view == 'signup' || active_view == 'password-reset' || active_view == 'password-confirm')">
  <div class="header-left">
    <a class="btn btn-transparent btn-nude" href="/"><img src="/images/sd6-logo-black.svg" width="190"></a>
  </div>

  <div class="header-right pull-right">
    <a v-if="active_view != 'login'" class="btn btn-md btn-dark btn-round" href="/login"><%= __("login") %></a>
    <a v-if="active_view != 'signup'" class="btn btn-md btn-dark btn-round" href="/signup"><%= __("signup") %></a>
  </div>
</header>

<div id="account-forms"
  v-bind:class="{'got-user':logged_in}"
  v-cloak
  v-if="(active_view == 'login' || active_view == 'signup' || active_view == 'password-reset' || active_view == 'password-confirm')">

  <div id="login" v-bind:class="{active : active_view == 'login'}">
    <div class="content">
      <form v-on:submit="login_submit(user_forms_email, login_password, $event)">
        <h3>Login</h3>

        <div class="tight">
          <div class="form-group">
            <input class="input" name="email" type="email" required v-model="user_forms_email" placeholder="<%=__("email")%>">
          </div>
          <div class="form-group">
            <input class="input" name="password" type="password" required v-model="login_password" placeholder="<%=__("password")%>">
          </div>
        </div>

        <button type="submit" class="btn btn-dark btn-block">
          <span v-show="!loading_user">Login</span>
          <span v-show="loading_user">Logging in…</span>
        </button>

        <div class="center alert alert-danger" v-if="login_error">{{login_error}}</div>

        <div style="margin-top:2em">
          <a href="/password-reset"><%= __("forgot_password") %></a>
        </div>
      </form>
    </div>
  </div>


</div>
